<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
body{color:white; background-color:#282828; font-family:Helvetica,Arial;}
h1{color:darkorange;}
a{color:darkorange; text-decoration:none}
a:hover{color:orange; text-decoration:underline}
.container-left{float:left;}
.metacriticRed{background-color:red; padding:.5%;}
.metacriticGreen{background-color:green; padding:.5%;}
.metacriticOrange{background-color:orange; padding:.5%;}
.metacriticLightGray{background-color:lightgray; padding:.5%;}
    </style>
  {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>