<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
{% include 'header.html' %}
<h1>{{ game.name }}</h1>
<a href="{{ game.metacritic }}">Metacritic</a></br>
<a href="{{ game.gametrailers }}">Gametrailers</a></br>
{{ game.description }}
<br/><br/>

{% if released != '' %}
Release Date: {{ released }}<br/><br/>
{% endif %}

Tags:<br/>
<ul>
{% for tag,value in ratings %}
<li><a href="/gamalytics/s/?q={{tag}}">{{ tag }}: {{ value }}</a></li>
{% endfor %}
</ul>

Similar Games:<br/>
<ul>
{% for similarGame,similarRatings in similar.items %}
<li><a href="/gamalytics/g/{{ similarGame.name }}">{{ similarGame.name }}</a>:
{% for tag,value in similarRatings %}
 {{ tag }}: {{ value }}</li>
{% endfor %}
{% endfor %}
</ul>
</body>
</html>
