{% extends 'base.html' %}
{% block head %}
  <title>Gamalytics - {{ game.name }}</title>
{% endblock %}
{% block body %}
{% include 'header.html' %}
<h1>{{ game.name }}</h1>
<div>
  <a href="{{ game.metacritic }}">Metacritic</a>
  Critics: <span class="metacritic{{criticColor}}"><b>{{ scoreCritic }}</b></span>
  Users: <span class="metacritic{{userColor}}"><b>{{ scoreUser }}</b></span>
</div>
<a href="{{ game.gametrailersReviewURL }}">Gametrailers</a></br>
{{ game.description }}
<br/><br/>

{% if released != '' %}
Release Date: {{ released }}<br/>
{% endif %}

<table>
 <tr>
  <td>Ratings:</td>
  {% for tag,value in ratings %}
  <td><span class="rating"><a href="/s/?q={{tag}}">{{ tag }}</a>: {{ value }}</span></td> 
  {% endfor %}
 </tr>
</table>

{% if user.is_authenticated %}
 {% if userRatings %}
 <table>
  <tr>
   <td>Your Ratings:</td>
   {% for tag,value in userRatings %}
   <td><span class="rating">
   <a href="/s/?q={{tag}}">{{ tag }}</a>: {{ value }} 
   <a href="/r/remove?game={{game.id}}&tag={{tag}}"> X</a></span></td> 
   {% endfor %}
  </tr>
 </table>
 {% endif %}

<form action="/r/add/" method="post">
  {% csrf_token %}
  <label for="tag">Add rating</label>
  <select name="tag">
  <option value="0" selected>Select tag:</option>
  {% for tag in distinctTags %}
    <option value="{{tag}}">{{tag}}</option>
  {% endfor %}
  </select>
  <label for="id_value">Value:</label>
  <input id="id_value" type="number" value="" name="value" maxlength="5" size="5">
  <input id="id_game" type="hidden" value="{{ game.id }}" name="game">
  <input type="submit" value="Add">
</form>
</br>
{% endif %}

{% if game.gametrailersVideo %}
<div><iframe src="{{ game.gametrailersVideo }}" width="512" height="288" frameborder="0"></iframe></div>
{% endif %}

Similar Games:<br/>
<table>
{% for similarGame,similarRatings in similar.items %}
<tr>
 <td><a href="/g/{{ similarGame.name }}">{{ similarGame.name }}</a></td>
 {% for tag,value in similarRatings %}
 <td><span class="rating"><a href="/s/?q={{tag}}">{{ tag }}</a>:{{ value }}</span></td>
 {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}