{% extends 'base.html' %}
{% block head %}
  <title>Gamalytics - {{ game.name }}</title>
{% endblock %}
{% block body %}
{% include 'header.html' %}
<h1>{{ game.name }}</h1>
<div>
  <a href="{{ game.metacritic }}">Metacritic</a>
  Critics: <span class="metacritic{{criticColor}}"><b>{{ scoreCritic }}</b></span>
  Users: <span class="metacritic{{userColor}}"><b>{{ scoreUser }}</b></span>
</div>
<a href="{{ game.gametrailers }}">Gametrailers</a></br>
{{ game.description }}
<br/><br/>

{% if released != '' %}
Release Date: {{ released }}<br/><br/>
{% endif %}

Ratings:</br>
<table>
<tr><td>Tag</td><td>Value</td></tr>
{% for tag,value in ratings %}
<tr><td><a href="/s/?q={{tag}}">{{ tag }}</a></td><td>{{ value }}</td></tr>
{% endfor %}
</table>

{% if user.is_authenticated %}
Your ratings:<br/>
<table>
<tr><td>Tag</td><td>Value</td><td>Delete</td></tr>
{% for tag,value in userRatings %}
<tr>
<td><a href="/s/?q={{tag}}">{{ tag }}</a></td>
<td>{{ value }}</td>
<td><a href="/r/remove?game={{game.id}}&tag={{tag}}">X</a></td>
</tr>
{% endfor %}
</table>
Add rating <form action="/r/add/" method="post">
    {% csrf_token %}
    <select name="tag">
	<option value="0" selected>Select tag:</option>
    {% for tag in distinctTags %}
	  <option value="{{tag}}">{{tag}}</option>
    {% endfor %}
	</select>
    <label for="id_value">Value:</label>
    <input id="id_value" type="number" value="" name="value">
    <input id="id_game" type="hidden" value="{{ game.id }}" name="game">
    <input type="submit" value="Add">
  </form>
{% endif %}
</br>

Similar Games:<br/>
<ul>
{% for similarGame,similarRatings in similar.items %}
<li><a href="/g/{{ similarGame.name }}">{{ similarGame.name }}</a>:
{% for tag,value in similarRatings %}
 {{ tag }}: {{ value }}
{% endfor %}
</li>
{% endfor %}
</ul>
{% endblock %}