<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
{% include 'header.html' %}
<div class="container-left">
Genre
  <ul>
    {% for genre in genres %}
    <li><a href="/gamalytics/s/?q={{genre}}">{{genre}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="container-left">
  Most Recent Games:
  <ul>
    {% for game in games %}
    <li><a href="/gamalytics/g/{{game.name}}">{{game.name}}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="container-left">
  Platforms:
  <ul>
    {% for platform in platforms %}
    <li><a href="/gamalytics/s/?q={{platform}}">{{platform}}</a></li>
    {% endfor %}
  </ul>
</div>
</body>
</html>
